{% extends 'base.html' %}

{% block title %} Play Game ! {% endblock %}

{% block description %}

<div class="dice_img"> <ul>
    {% for num in range(plays) %}
    <li>
        Play {{ num + 1 }} : <br>
        {% if dice_num[num] == 1 %}
            <img src="{{url_for('static', filename='images/dice_1.jpg')}}">
        {% elif dice_num[num] == 2 %}
            <img src="{{url_for('static', filename='images/dice_2.jpg')}}">
        {% elif dice_num[num] == 3 %}
            <img src="{{url_for('static', filename='images/dice_3.jpg')}}">
        {% elif dice_num[num] == 4 %}
            <img src="{{url_for('static', filename='images/dice_4.jpg')}}">
        {% elif dice_num[num] == 5 %}
            <img src="{{url_for('static', filename='images/dice_5.jpg')}}">
        {% elif dice_num[num] == 6 %}
            <img src="{{url_for('static', filename='images/dice_6.jpg')}}">
        {% endif %}
    </li>
    {% endfor %}
</ul></div>

<h4>* Sum: {{ sum }}</h4>

<form method="post">
    <label for="user_name">User Name: </label>
    <input type="text" id="user_name" name="user_name">
    <input type="submit" name="submit_name" value="SUBMIT">
</form>

{% endblock %}
